@model List<Model.SolicitudListModel>
@{
    var permisos = Casuarinas.Helpers.SessionHelper.ObtenerXMenuYRol("Pendientes");
    TempData["clicked"] = permisos.Menu_id;
    ViewBag.Title = "Solicitudes pendientes";
    ViewBag.SubTitle = "Lista de registros";
    ViewBag.BaseUrl = Url.Content("~/");
    ViewBag.FormUrl = Url.Action("Form", "Solicitud");

    string[][] breadcrumb = {
        new string[] {"/", "Inicio"},
        new string[] {"", @ViewBag.Title}
    };
    ViewBag.BreadCrumb = breadcrumb;
    ViewBag.AuthRequest = "approve,refuse";
}

@{ Html.RenderPartial("_PartBreadCrumb"); }

<div class="box">
    <div class="box-header">
        <h2>@ViewBag.Title</h2>
        <small>@ViewBag.SubTitle</small>
        @{ Html.RenderPartial("_PartButtonsBar", permisos); }
    </div>
    <div class="box-divider m-0"></div>
    <div class="box-body">
        <div class="table-responsive">
            <table id="tablaSolicitudesPendientes" ui-jp="dataTable" ui-options="" class="table table-striped table-bordered table-hover table-condensed b-t b-b">
                <thead>
                    <tr>
                        <th style="width:0%; display: none;">sol_id</th>
                        <th style="width:10%">ID</th>
                        <th style="width:18%">Empresa</th>
                        <th style="width:18%">Centro de costo</th>
                        <th style="width:15%">Usuario</th>
                        <th style="width:10%">F.Registro</th>
                        <th style="width:10%">F.Necesaria</th>
                        <th style="width:5%">Items</th>
                        <th style="width:5%">Sel.</th>
                        <th style="width:15%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;"><input type="hidden" name="sol_id" value="@item.SolicitudId" /></td>
                            <td class="texto-centrado">@("MS" + item.SolicitudId.ToString("D9"))</td>
                            <td>@item.EmpresaDes</td>
                            <td>@item.CentorCostoDes</td>
                            <td>@item.UsuarioNom</td>
                            <td class="texto-centrado">@(string.Format("{0:yyyy-MM-dd}", item.FechaRegistro))</td>
                            <td class="texto-centrado">@(string.Format("{0:yyyy-MM-dd}", item.FechaNecesaria))</td>
                            <td class="texto-centrado">@item.CantidadItems</td>
                            <td class="texto-centrado"><input type="checkbox" value="1" name="chkSolPend" id="solPend@(item.SolicitudId)" data-id="@item.SolicitudId" /></td>
                            <td class="texto-centrado column-actions">
                                @{
                                    string[] props = {
                                    "Pendientes",
                                    item.SolicitudId.ToString(),
                                    "Details",
                                    "Form",
                                    "",
                                    "",
                                    "",
                                    ""
                                };
                                    Html.RenderPartial("_PartButtonsTable", props);
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>