@model List<Model.Rol>
@{
    var permisos = Casuarinas.Helpers.SessionHelper.ObtenerXMenuYRol("Rol");
    TempData["clicked"] = permisos.Menu_id;
    ViewBag.Title = "Roles";
    ViewBag.SubTitle = "Lista de registros";
    ViewBag.BaseUrl = Url.Content("~/");
    ViewBag.FormUrl = Url.Action("Form", "Rol");

    string[][] breadcrumb = {
        new string[] {"/", "Inicio"},
        new string[] {"", @ViewBag.Title}
    };
    ViewBag.BreadCrumb = breadcrumb;
    ViewBag.AuthRequest = "new";
}

@{ Html.RenderPartial("_PartBreadCrumb"); }
<div class="box">
    <div class="box-header">
        <h2>@ViewBag.Title</h2>
        <small>@ViewBag.SubTitle</small>
        @{ Html.RenderPartial("_PartButtonsBar", permisos); }
    </div>
    <div class="box-divider m-0"></div>
    <div class="box-body">
        <div class="table-responsive">
            <table ui-jp="dataTable" ui-options="" class="table table-striped table-bordered table-hover table-condensed b-t b-b">
                <thead>
                    <tr>
                        <th style="width:20%">Código</th>
                        <th style="width:30%">Descripción</th>
                        <th style="width:25%">Fecha registro</th>
                        <th style="width:15%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="texto-centrado">@item.id.ToString("D9")</td>
                            <td>@item.descripcion</td>
                            <td class="texto-centrado">@(string.Format("{0:yyyy-MM-dd}", item.fechaRegistro))</td>
                            <td class="texto-centrado column-actions">
                                @{
                                    string[] props = {
                                        "Rol",
                                        item.id.ToString(),
                                        "",
                                        "Form",
                                        ""
                                    };
                                    Html.RenderPartial("_PartButtonsTable", props);
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>