@model Model.Empresa
@{
    var permisos = Casuarinas.Helpers.SessionHelper.ObtenerXMenuYRol("Empresa");
    TempData["clicked"] = permisos.Menu_id;
    ViewBag.Title = "Empresas";
    ViewBag.SubTitle = (Model.id > 0 ? "Editar Empresa " + Model.id.ToString("D9") : "Nuevo registro");
    ViewBag.BaseUrl = Url.Content("~/");
    ViewBag.IndexUrl = Url.Action("Index", "Empresa");
    ViewBag.FormId = "frmEmpresa";

    string[][] breadcrumb = {
        new string[] {"/", "Inicio"},
        new string[] {ViewBag.IndexUrl, @ViewBag.Title},
        new string[] {"", @ViewBag.SubTitle}
    };
    ViewBag.BreadCrumb = breadcrumb;
    ViewBag.AuthRequest = "save,cancel";
}

@{ Html.RenderPartial("_PartBreadCrumb"); }

<div class="box">
    <div class="box-header">
        <h2>@ViewBag.Title</h2>
        <small>@ViewBag.SubTitle</small>
        @{ Html.RenderPartial("_PartButtonsBar", permisos); }
    </div>
    <div class="box-divider m-0"></div>
    <div class="box-body">
        @using (Html.BeginForm("Guardar", "Empresa", FormMethod.Post, new { id = ViewBag.FormId, @class = "form-horizontal", ui_jp = "parsley" }))
        {
            @Html.HiddenFor(u => u.id, new { @id = "EmpresaId", @Name = "EmpresaId" })
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="EmpresaDes">Descripción</label>
                    <input type="text" class="form-control" id="EmpresaDes" name="EmpresaDes" placeholder="Ingrese la descripción" value="@Model.descripcion" maxlength="300" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="EmpresaDbn">Nombre BD</label>
                    <input type="text" class="form-control" id="EmpresaDbn" name="EmpresaDbn" placeholder="Ingrese el nombre de la DB" value="@Model.db_name" maxlength="300" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="EmpresaEst">Estado</label>
                    <select id="EmpresaEst" name="EmpresaEst" class="form-control">
                        <option value="A" @(Model.estado=="A"?"selected":"")> Activo </option>
                        <option value="I" @(Model.estado=="I"?"selected":"")> Inactivo </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="EmpresaDbu">Usuario BD</label>
                    <input type="text" class="form-control" id="EmpresaDbu" name="EmpresaDbu" placeholder="Ingrese el usuario" value="@Model.usuario" maxlength="100" required />
                </div>
                <div class="col-md-6 form-group">
                    <label for="EmpresaDbp">Password BD</label>
                    <input type="text" class="form-control" id="EmpresaDbp" name="EmpresaDbp" placeholder="Ingrese el password" value="@Model.password" maxlength="100" required>
                </div>
            </div>
        }
    </div>
</div>